$color-inherit: var(--color-inherit);
$color-transparent: var(--color-transparent);
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-blue: var(--color-blue);
$color-indigo: var(--color-indigo);
$color-purple: var(--color-purple);
$color-pink: var(--color-pink);
$color-red: var(--color-red);
$color-orange: var(--color-orange);
$color-yellow: var(--color-yellow);
$color-green: var(--color-green);
$color-teal: var(--color-teal);
$color-cyan: var(--color-cyan);
$color-gray: var(--color-gray);
$color-gray-light: var(--color-gray-light);
$color-gray-dark: var(--color-gray-dark);
$color-border: var(--color-border);
$color-border-active: var(--color-border-active);
